{
  "presets": [
    ["@babel/preset-flow", {
      "all": true
      }],
    "@babel/preset-react"
  ],
  "plugins": [
    // enable styleName="" in react components
    [
      "babel-plugin-react-css-modules",
      {
        "context": "config",
        "generateScopedName": "[path]___[name]__[local]__[hash:base64:5]"
      }
    ],
    // enable class properties
    [
      "transform-class-properties"
    ],
    // spread operator
    [
      "@babel/plugin-proposal-object-rest-spread"
    ],
    // SSR code-splitting
    // "@loadable/babel-plugin"
  ],
  "env": {
    "server": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        [
          "babel-plugin-react-css-modules",
          {
            // Don't import during SSR
            "removeImport": true,
            "generateScopedName": "[path]___[name]__[local]__[hash:base64:5]"
          }
        ],
        [
          "@babel/plugin-transform-arrow-functions"
        ]
      ]
    },
    "client": {
      "presets": [
        "@babel/env"
      ],
      "plugins": [
        // async
        [
          "@babel/plugin-transform-regenerator"
        ],
        // Code splitting
        [
          "@babel/plugin-syntax-dynamic-import"
        ],
        // for some unknown reason I also have to specifically define it for the client... ?
        // enable class properties
        [
          "transform-class-properties"
        ]
      ]
    },
    "test": {
      "presets": [
        "@babel/env"
      ],
      "plugins": [
        [
          "transform-class-properties"
        ]
      ]
    }
  }
}
